/*Tags de formatação*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

div.clear {
    clear: both;
}

/*******/


.txt1{
    width: 100%;
    padding: 30px 2%;
    background-color: #ccc;
}