/*Tags de formatação*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    padding: 0 2%;
    margin-top: 10px;
}

div.clear {
    clear: both;
}


/*******/

.box{
    background: #ccc;
    padding: 2%;
    margin-top: 10px;
}


p{
    padding: 2%;
}


h1,h2,h3,h4{
    padding: 1%;
    margin-top: 10px;
}